<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="App.js"></script>
</head>
<body>
<div>
    <div>
        <input id="get" type="text"></input>
        <button onclick="app.getList()" for="get">Insertar</button>
    </div>
<!--    <div>-->
<!--        <button><a href="/Apps/valores">ver datos</a></button>-->
<!--    </div>-->

</div>
</body>
</html>